<a href="/players">Player Index</a>
<a href="/teams">Team Index</a>

<h2>Teams</h2>

<a href="/teams/new">Add New Team</a>

<% @teams.created_order.each do |team| %>
  <h3><%= team.name %></h3>
  <h4>Entry Created: <%= team.created_at %></h4><br/>
<% end %>